<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wathii</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <!-- Bulma Version 0.7.2-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/admin.css">
</head>

<body>

    <!-- START NAV -->
    <nav class="navbar is-white">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item brand-text" href="../..">
          Wathii Dashboard
        </a>
                <div class="navbar-burger burger" data-target="navMenu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div id="navMenu" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="/">
            Home
          </a>
                    <a class="navbar-item" href="/">
            Standings
          </a>
                    <a class="navbar-item" href="/rules">
            Rules
          </a>
                    <a class="navbar-item" href="/logout">
            Log out
          </a>
                </div>

            </div>
        </div>
    </nav>
    <!-- END NAV -->
    <div class="container">
        <div class="columns">
            <div class="column is-3 ">
                <aside class="menu is-hidden-mobile">
                    <p class="menu-label">
                        General
                    </p>
                    <ul class="menu-list">
                        <li><a href="/" class="is-active">Dashboard</a></li>
                        <li><a href="/game_logs">Your Game logs</a></li>
                    </ul>

                </aside>
            </div>
            <div class="column is-9">
                <section class="hero is-info welcome is-small">
                    <div class="hero-body">
                        <div class="container">
                            <h1 class="title">
                                Hello, {{ first_name }}
                            </h1>
                            <h2 class="subtitle">
                                May the force be with you.
                            </h2>
                        </div>
                    </div>
                </section>
                <section class="info-tiles">
                    <div class="tile is-ancestor has-text-centered">
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title">{{ response_data["games_won"] }}</p>
                                <p class="subtitle">Games Won</p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title">{{ response_data["games_lost"] }}</p>
                                <p class="subtitle">Games Lost</p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title">{{ response_data["games_drawn"] }}</p>
                                <p class="subtitle">Games Drawn</p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title">{{ response_data["last_uploaded"] }}</p>
                                <p class="subtitle">Last Uploaded</p>
                            </article>
                        </div>
                    </div>
                </section>
                <div class="columns">
                    <div class="column is-9">
                        <div class="card events-card">
                            <header class="card-header">
                                <p class="card-header-title">
                                    Recent Games
                                </p>
                                <a href="#" class="card-header-icon" aria-label="more options">
                  <span class="icon">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                  </span>
                </a>
                            </header>
                            <div class="card-table">
                                <div class="content">
                                    <table class="table is-fullwidth is-striped">
                                        <tbody>
                                        {% for game in response_data["recent_games"] %}
                                            <tr>
                                                <td width="5%"><i class="fa fa-trophy"></i></td>
                                                <td width="70%">{{ game.ai_won.user.username }} (winner)  <b>VS</b>  {{ game.ai_lost.user.username }} (loser)</td>
                                                <td><a class="button is-small is-primary" href="{{ game.log_link }}" >Download Log </a></td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <a href="/game_logs" class="card-footer-item">View All</a>
                            </footer>
                        </div>
                    </div>
                    <div class="column is-3">
                        <div class="card">
                            <header class="card-header">
                                <p class="card-header-title">
                                    Upload Your AI
                                </p>
                                <a href="#" class="card-header-icon" aria-label="more options">
                  <span class="icon">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                  </span>
                </a>
                            </header>
                            <div class="card-content">
                                <div class="content">
                                    {% if response_data["file_message"] %}
                                        <article class="message is-danger">
                                          <div class="message-body">
                                              {{ response_data["file_message"] }}
                                          </div>
                                        </article>
                                    {% endif %}
                                    <form action="" method="POST" enctype="multipart/form-data">
                                        <div class="file has-name is-boxed">
                                          <label class="file-label">
                                            <input class="file-input " type="file" name="ai_file" onchange="this.form.submit()">
                                            <span class="file-cta">
                                              <span class="file-icon">
                                                <i class="fa fa-upload"></i>
                                              </span>
                                              <span class="file-label">
                                                Choose a file…
                                              </span>
                                            </span>
                                          </label>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script async type="text/javascript" src="../static/js/bulma.js"></script>
</body>

</html>